html
{
    height: 100%;
}

body 
{
    display: flex;
    font-family: sofia-normal;
    background-color: #402019;
    flex-direction: column;
}
canvas
{
    -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
}
section
{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #402019;
    align-self: center;
    
    align-items: center;
    justify-content: center;
}

.dashboard
{
    margin-top: 5%;
    background-color: #F1E3D6;
    height: 75%;
    width: 75%;
    border-radius: 25px;
    padding: 0 60px; 
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dashboard .armazem
{
    height: 20%;
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 25px;
   
}

.dashboard .armazem select
{
    width: 8em;
    height: 1.8em;
    background-color: white;
}

.dashboard .armazem select option
{
    text-align: center;
}

.dashboard .dado 
{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.dashboard .card
{
    width: 50%;
    height: 100%;
    display: flex;
    align-self: center;
    background-color: #D9C9BA;
    margin: 0 20px;
    border-radius: 20px;
    justify-content: start;

}
.dashboard .card h1
{
    margin: 0;
    width: 25%;
    height: 100%;
    font-size: 22px;

}

.dashboard .card .card_content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 100%;

}

.dashboard .card .card_content .dado_card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
    font-family: sofia-bold;
    font-size: 20px;
    margin: 0 25px;
}

.grafico
{
    display:flex;
    width: 100%;
    height: 50%;
    transition: 100ms step-end;
}


.grafico .content_grafico
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: 0 25px;
}

#umidade_card
{
    width: 15%;
    margin: 20px 0 0 20px;
}

#temperatura_card
{
    width: 15%;
    margin: 20px 0 0 20px;
}
