.corpo {
    background-color: #46261f;
    width: 100%;
    height: 100vh;
    display: flex;
}


.corpo_dentro {
    display: flex;
    justify-content: center;
    align-items: self-start;
    text-align: center;
    margin-top: 7%;
    margin-left: 10%;
    color: black;
    font-size: 15px;
    width: 80%;
    height: 80vh;
    padding: 0;
    background-color: #D9C9BA;
    border: 2px solid #D9C9BA;
    border-radius: 25px;


}

.corpo_func {
    margin-top: 1%;
    box-sizing: border-box;
    position: relative;
    width: 1400px;
    height: 7vh;

    background: #F1E3D6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.lista{
    display: flex;
    justify-content: space-evenly;
    align-items: self-start;
    flex-direction: column;
    margin-top: 0%;
}