#div_erro {
    display: none;
     width: 200px;
    height: auto;
    background-color: #ffffff;
    /*justify-content: flex-end;
    display: flex;
    top: 0%; */
    position: absolute;
        top: 15%;
        right: 0;
        background-color: #f0f0f0;
        padding: 5px; 
        border-radius: 10px;
    border: #e6005a 3px solid;
    margin-top: 1%;
    margin-right: 1%;
    overflow-wrap: break-word;
    font-weight: 500px;
    font-size: 19px;
  }
/*   
  #card_erro #mensagem_erro{
    
    
  } */
  /* FORMULARIO 
  
  
  .alerta_erro{
    display: flex;
    justify-content: flex-end;
    position: absolute;
  }
  
  .card_erro {
    display: none;
    background-color: #000000;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  */
  