@font-face {
    font-family: sofia-normal;
    src: url("../font/Sofia_Sans_Condensed/SofiaSansCondensed-VariableFont_wght.ttf");
}

html
{
    height: 100%;
}
footer
{
    height: 10vh;
}

body 
{
    display: flex;
    font-family: sofia-normal;
    background-color: #402019;
    flex-direction: column;
}

.cardalerta{
    height: 20%;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}


canvas
{
    -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
}
section
{
    display: flex;
    height: 140vh;
    width: 100%;
    background-color: #402019;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.dashboard {

    background-color: #F1E3D6;
    height: 100vh; 
    width: 50%;
    border-radius: 25px;
    padding: 25px 10%; 
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.dashboard .armazem
{
    height: 20%;
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 25px;
   
}

.dashboard .armazem select
{
    width: 8em;
    height: 1.8em;
    background-color: white;
}

.dashboard .armazem select option
{
    text-align: center;
}


.status2 {
    font-family: sofia-normal; 
    background-color: #D5B495;
    color: #000; 
    height: 100vh;
    width: 10%;
    border-radius: 25px;
    padding: 0 60px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
    margin-left: 3%;
    overflow: scroll;
    scrollbar-width: none;

}

.alerta-titulo {
    color: red;
    font-size: 24px; 
    margin-top: 20px; 
    text-align: center;
}


.status {
    font-family: sofia-normal;
    background-color: #D5B495;
    color: #000;
    height: 90vh;
    width: 50%;
    border-radius: 25px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 20px 0;
    overflow: scroll;
    scrollbar-width: none
    ;
}


.dashboard .card .card_content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 100%;

}

.dashboard .card .card_content .dado_card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
    font-family: sofia-bold;
    font-size: 25px;
    margin: 0 25px;
}

.grafico
{
    display:flex;
    width: 100%;
    height: 50%;
    transition: 100ms step-end;
}


.grafico .content_grafico
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: 0 25px;
}

#umidade_card
{
    width: 15%;
    margin: 20px 0 0 20px;
}

#temperatura_card
{
    width: 15%;
    margin: 20px 0 0 20px;
}

.graficos{
    height: 20vh;
    width: 10vh;
}



.grafico-container {
    display: flex;
    flex-direction: column;
    width: 40%; 
}

.grafico-dentro {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    height: 40%;
}

.grafico-dentro h2 {
    margin-bottom: 10px;
    font-family: sofia-normal;
    font-size: 18px;
    color: #402019;
}

.grafico-dentro canvas {
    width: 100%; 
    height: auto;
}

table {
    width: 120%;
    height: 200vh;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.status-indicador {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background-color: #4CAF50;
}

.yellow {
    background-color: #FFEB3B;
}

.red {
    background-color: #F44336;
}

.divStatus {
    
    background-color: #D5B495;
    justify-content: center;
    height: 25%;
    width: 100%;
    border-radius: 25px;
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.divStatus img{
    margin-top: auto;
}
.divStatusContent{
    width: 100% ;
    display: flex;
    flex-direction: row;
    color: black;
    font-family: sofia-normal;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.divStatusContent span
{
    font-size: 18px;
    margin-right: 25px;
}
